students
{
 margin-left:50%;
 background-color:black;
}
student
{
display:block;
}
USN
{
display:block;
color:pink;
}

NAME
{
display:block;
color:yellow;
}
EMAIL
{
display:block;
color:red;
}
YEAR
{
display:block;
color:white;
}
COLLEGE
{
display:block;
color:red;
}
BRANCH
{
display:block;
color:grey;
}


